<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
  <div class="list-group">
    <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;
      <span>{{ 'Dashboard' }}</span>
    </a>
    <a [routerLink]="['/managetimeseries']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-table"></i>&nbsp;
      <span>{{ 'Tab 1' }}</span>
    </a>
    <a [routerLink]="['/charts']" routerLinkActive="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
      <span>{{ 'Tab 2' }}</span>
    </a>
    <a [routerLink]="['/tweets']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fab fa-fw fa-twitter"></i>&nbsp;
      <span>{{ 'Tab 3' }}</span>
    </a>

    <div class="header-fields">
      <a (click)="rltAndLtr()" class="list-group-item">
        <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
      </a>
      <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('languages')">
          <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' }} <b class="caret"></b></span>
        </a>
        <li class="nested" [class.expand]="showMenu === 'languages'">
          <ul class="submenu">
            <li>
              <a href="javascript:void(0)" (click)="changeLang('en')">
                {{ 'English' }}
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('fr')">
                {{ 'French' }}
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('ur')">
                {{ 'Urdu' }}
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('es')">
                {{ 'Spanish' }}
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('it')">
                {{ 'Italian' }}
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('fa')">
                {{ 'Farsi' }}
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" (click)="changeLang('de')">
                {{ 'German' }}
              </a>
            </li>
          </ul>
        </li>
      </div>
      <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('profile')">
          <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
        </a>
        <li class="nested" [class.expand]="showMenu === 'profile'">
          <ul class="submenu">
            <li>
              <a href="javascript:void(0)">
                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' }}</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' }}</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' }}</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/login']" (click)="onLoggedout()">
                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' }}</span>
              </a>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </div>
  <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
    <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
    <span>{{ 'Collapse Sidebar' }}</span>
  </div>
</nav>