/* You can add global styles to this file, and also import other style files */
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

body{
    background-color: #f2f3f8;
}

.btn{
    border-radius:0px !important;
}

.btn-Carrot{
    color: #fff;
    background-color: #e67e22;
    border-color: #d35400;

}
.btn-Carrot:hover{
    color: #fff;
    background-color: #d35400;
    border-color: #e67e22;
}


.card{
    border-radius: 0px;
    border:0px;
}